.container{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

@media screen and (max-width: 720px) {
    .container{
        padding: 0px;
        flex-direction: column;
    }
}