.container{
    height: 60px;
}

.wrapper{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    flex: 1;
    display: flex;
    align-items: center;
}

.language{
    font-size: 14px;
    cursor: pointer;
}

.SearchContainer{
    border: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px;
}

.input{
    border: none;
    /* padding: 5px; */
    /* outline: none; */
}

.center{
    flex: 1;
    text-align: center;
}

.logo{
    font-weight: bold;
}

.right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.MenuItem{
    font-size: 14px;
    cursor: pointer;
    margin-left: 25px;
}


@media screen and (max-width: 720px) {
    .container{
        height: 50px;
    }

    .wrapper{
        padding: 10px 0px;
    }

    .language{
        display: none;
    }

    .input{
        width: 50px;
    }

    .logo{
        font-size: 24px;
    }

    .right{
        flex: 2;
        justify-content: center;
    }

    .MenuItem{
        font-size: 12px;
        margin-left: 10px;
    }
}

